{% extends "IntranetPlatformBundle::layout.html.twig" %}
{% block body %}

    <h3>Supprimer ma demande ?</h3>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.dateDebut, "Date de début", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.dateDebut) }}

            <div class="col-sm-4">
                {# Génération de l'input. #}
                {{ form_widget(form.dateDebut, {'attr': {'type': 'text'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.dateFin, "Date de fin", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.dateFin) }}
            <div class="col-sm-4">
                {{ form_widget(form.dateFin, {'attr': {'class': ''}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.description) }}
            <div class="col-sm-4">
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.delete, {'attr': {'class': 'btn btn-primary'}}) }}
        <a class="btn btn-danger" type="button" href="{{ path("intranet_voir-mes-demandes") }}">Annuler</a>
        

        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>


{% endblock %}