{% extends "IntranetPlatformBundle::layout.html.twig" %}
{% block body %}

    <table class="table">
        <h4>Mes demandes</h4>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date de Début</th>
                <th>Date de Fin</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for demandes in demandes %}
                <tr class="warning">
                    <td class="content" >{{ demandes.id }}</td>
                    <td class="content" >{{ demandes.dateDebut|date('Y-m-d') }}</td>
                    <td>{{ demandes.dateFin|date('Y-m-d') }}</td>
                    <td>{{ demandes.description }}</td>
                    <td><a id="description" type="button" class="btn btn-default">Description</a></td>
                    <td><a href="{{ path('intranet_voir-ma-demande', { 'id' : demandes.id }) }}" type="button" class="btn btn-primary">Voir la demande</a></td>
                    <td><a href="{{ path('intranet_modifier-ma-demande', { 'id' : demandes.id }) }}" type="button" class="btn btn-warning">Modifier</a></td>
                    <td><a href="{{ path('intranet_supprimer-ma-demande', { 'id' : demandes.id }) }}" type="button" class="btn btn-danger">Supprimer</a></td>

        </tr>
    {% endfor %}
</tbody>

<div id="dialog">
    <h1>amandine</h1>
</div>
{% endblock %}